        /*font*/
        @font-face {
            font-family: 'Pretendard-Regular';
            src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }

        .title {
            font-family: 'Pretendard-Regular', sans-serif;
        }

        @keyframes slide-modal-close {
            from {
            visibility: visible;
            margin-top: 2em;
            opacity: 1;
            }
            50% {
            visibility:visible;
            }
            to{
            visibility: hidden;
            margin-top: 0;
            opacity: 0;
            }
        }
        ;