body {
    margin: 0;
    padding: 0;
}

.App1Container {
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, .75);
    max-width: 500px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

.App2Container{
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, .75);
    max-width: 500px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

@media (max-width: 500px) {
    .App1Container {
        width: 100%;
        height: 100vh;
    }

    .App2Container{
        width: 100%;
        height: 100vh;
    }
}
